*{
    box-sizing: border-box;
    font-family: Microsoft JhengHei, Heiti TC, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
html,body{
    margin: 0;
    padding: 0;
}
.container-fluid {
    margin: 0;
    padding: 0;
}

/*navbar start*/
nav {
    background:#01277a;
}
.navbar {
    position: fixed;
    z-index:9999;
}
a.nav-link {
    color:white;
}
/*section1 start*/
.s1 {
    background: #ffc800;
}
.line {
    background:#ffc800 url(./images/lead_01.png) center;
    height: 23px;
    margin: 0;
    padding: 0;
}
.icon {
    margin-bottom: 205px;
}
.maincover {
    background:#ffc800 url(./images/lead_02.png) center bottom no-repeat;
    background-size:contain;
}
.section1 .icon {
    max-width: 200px;
}
/*section2 start*/
.s2 {
    background: #ffc800;
}
.s2 span{
    font-size:1.5em;
    font-weight: bold;
}
.s3 .col-md-6 {
    background:white;
}
/*section3 start*/
.time1 {
    width:100px;
    height:100px;
    color:white;
    border-radius: 50%;
    font-size: 1.5em;
    padding:5px 20px;
    display:inline-block;
    background: #00437e;
}
.time p {
    margin:0;
}
.title {
    color:#0051bd;
}
.subtitle {
    color:#4595db;
}
.content p{
    color:#ff8521;
}
.time2 {
    width:100px;
    height:100px;
    color:white;
    border-radius: 50%;
    font-size: 1.5em;
    padding:5px 20px;
    display:inline-block;
    background: #ff840a;
}
.title {
    display:inline;
    margin-top: -50px;
    font-size: 2em;
    border-top: 1px solid black;
    font-weight: bold;
}
.subtitle {
    font-size: 1.5em;
    border:3px dotted black;
    font-weight: bold;
}
.date {
    border-top:1px solid black;
    border-bottom:1px solid black;
}
.content p {
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
}
.content li {
    font-size: 1em;
}
/*section4 start*/
.s4 {
    background: #ddbc61;
}
.s4 h3 {
    color:#143097;
}
.s4 h6 {
    color:#143097;
}
/*section5 start*/
.s5 {
    background: #dadbe9;
}
/*sectopm6 start*/

/*section7 start*/
.s7 {
    background:#01277a;
    color:white;
}
.s7 .btnfly2 {
    display:none;
}
.s7 .table{
    border:2px solid gray;
}
@media screen and (max-width:568px){
    .s7 .btnfly{
        display:none;
    }
    .s7 .btnfly2 {
        display:inline;
        position:fixed;
        bottom:0;
        width:100%;
        z-index: 9999;
    }
    .s7 .btnfly2 a{
        display:inline;
    }
}
/*footer start*/
footer {
    background: #000;
    color:white;
}