*{
    box-sizing: border-box;
}

header{
    height: 360px;
    padding: 50px;
    background: url(imges/wallpaper-1792513.jpg) no-repeat 0 0;
}
header h1{
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif,"微軟正黑體" ;
}
nav{
    padding: 50px;
    background-color: #000000;
}

nav ul li{
    display: inline-block;
}
nav ul li{
    margin: 0 auto;
}

nav ul li a{
    color: #000;
    font-size: 20px;
    padding: 10px 25px;
    background-color: #ff9b9b;
    text-decoration: none;
    border-radius: 20px;
}
nav ul li a:visited{
    background-color: rgb(51, 247, 26);
}

nav ul li a:hover{
    background-color: rgb(133, 33, 226);
}

nav ul li a:active{
    color: #d60000;
    /* text-decoration: underline; */
}

section{
    width: 75%;
    padding: 50px;
}

section h2{ 
    font-size: 18px;
    line-height: 26px;
}

article{

    font-size: 1em;
    line-height: 1.5em;
    column-count:3;
    column-rule: 1px solid #000;
    column-gap: 2em;
    text-align: justify;
}


