header {
    background-color: rgb(109, 160, 255);
    height:50px;
    padding:20px 0 0 20px;
}
header h1{
    font-size: 36px;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif,"微軟正黑體";
}
nav {
    padding:20px;
    background-color: transparent;
    position:fixed;
    top:0;
    right:0;
}
nav ul {
    display:flex;
    justify-content:space-evenly;
}
nav ul li {
    display:inline-block;
    margin: 5px 40px;
    font-size: 20px;
}
nav ul li a, nav ul li a:visited {
    color:rgb(109, 160, 255);
    font-weight: bolder;
    font-size:20px;
    padding:10px 25px;
    background-color: white;
    text-decoration:none;
    border-radius: 50px;
}
nav ul li a:hover {
    color:white;
    font-size:20px;
    padding:10px 25px;
    background-color: #D6A99A;
    text-decoration:none;
    border-radius: 50px;
}
section {
    width: 75%;
    padding: 20px;
    float: left;
}
section h2 {
    font-size: 150%;
    font-weight: bold;
}
section article {
    column-count:3;
    column-rule: 1px solid black;
    column-gap: 20px;
    line-height: 40px;
    padding:20px;
}
aside {
    width: 20%;
    padding:20px;
    float: right
}
