* {
    font-family: 'Noto Sans TC', sans-serif , "微軟正黑體";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background:rgb(232, 237, 246);
}
.section2 h3,.section3 h3,footer h3 {
    font-size:1.7rem;
    padding-top: 2rem;
    margin-bottom: 0.3rem;
    text-align: center;
}
.line {
    margin: 0 auto;
    margin-bottom: 2rem;
    height: 0.15rem;
    width:3.4rem;
    border-top:3px solid black;
    padding-bottom: 0.5rem;
}
.container {
    width:1200px;
    min-width:320px;
    margin: 0 auto;
}
[class$=wrap] + .container {
    display:flex;
    justify-content: flex-end;
    width:90vw;
}
.btn-more {
    display:inline;
    padding:0.1rem 0.6rem;
    text-align: center;
    color:white;
    background:rgb(169,79,98);
    border-radius: 3px;
    cursor: pointer;
    transition:.5s;
}
.btn-more:hover {
    display:inline;
    padding:0.1rem 0.6rem;
    text-align: center;
    color:white;
    background:rgb(129, 46, 64);
    border-radius: 3px;
    cursor: pointer;
}
@media screen and (max-width:1200px){
    .container {
        width:100%;
    }
}
.d-flex {
    display:flex
}
.list-unstyled {
    list-style-type:none;
    padding:0;
    margin: 0;
}
.list-unstyled a,.list-unstyled a:link {
    color: rgb(168, 168, 168);
    text-decoration: none;
}
/*nav start*/
nav {
    position:fixed;
    top:0;
    width:100%;
    background:rgb(255, 255, 255);
    z-index:999;
}
nav .logo img{
    display:block;
    max-width:200px;
}
@media screen and (max-width:768px){
    .navbar {
        border:0px solid white;
    }
    nav .logo img{
        display:block;
        max-width:160px;
        padding:10px;
    }
}
nav .item {
    justify-content: space-between;
    flex:1;
    line-height: 56px;
}
nav ul li{
    font-size: 1.3rem;
}

nav ul li a{
    display:block;
    height:100%;
    padding:0.3rem 1rem;
    transition:.8s;
}
@media screen and (max-width:1200px){
    nav ul li{
        font-size: 1.1rem;
    }
    nav ul li a{
        padding:0.3rem 0.5rem;
    }
}
nav ul li a:hover {
    padding:0.3rem 2rem;
    background:rgba(168, 168, 168, 0.698);
    color:white;
}
nav ul li a.nav-setting:hover {
    padding:0.3rem 1rem;
    background:white;
    cursor: pointer;
}
nav .l-item {
    flex:1;
}
nav .l-item,nav .r-item {
    align-content: center
}
nav .r-item img {
    display: block;
    width:70%
}
nav.cheat {
    position: relative;
    z-index:0
}
@media screen and (max-width:768px){
    .item {
        display:none;    
    }
}
/*section1 start*/
.section1{
    background:url('./images/avatar/long-hair.jpg')
    top center no-repeat;
    background-size:cover;
    width:100%;
    height:auto;
}
.section1 .cover{
    background:rgba(0, 0, 0, 0.753)
}
.section1 .container:nth-child(1) {
    background-color: transparent;
    align-items: center;
    flex-direction: column;
    
}
.section1 img.coverlogo {
    filter:brightness(200%);
    margin:1rem 0 1rem;
    transform: scale(0.9)
}
.section1 h1{
    color:white;
    font-size:4rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
    margin: 0 0 0.8rem;
}
.section1 h2{
    color:white;
    font-size:2rem;
    font-weight: lighter;
    margin: 0.5rem 0 2rem;
}
@media screen and (max-width:1200px){
    .section1 img.coverlogo {
        filter:brightness(200%);
        margin:0.3rem 0 0rem;
        transform: scale(0.7)
    }
    .section1 h1{
        color:white;
        font-size:3rem;
        font-weight: 500;
        letter-spacing: 0.5rem;
        margin: 0 0 0.3rem;
    }
    .section1 h2{
        color:white;
        font-size:1.2rem;
        font-weight: normal;
        margin: 0.5rem 0 2rem;
    }
}
@media screen and (max-width:768px){
    .section1 img.coverlogo {
        filter:brightness(200%);
        margin:0rem;
        transform: scale(0.5)
    }
    
}
@media screen and (max-width:568px){
    .section1 h1{
        color:white;
        font-size:2.5rem;
        font-weight: 500;
        letter-spacing: 0.5rem;
        margin: -1.5rem 0rem 0;
    }
    .section1 h2{
        color:white;
        font-size:1rem;
        font-weight: normal;
        margin: 0.5rem 0 1.5em;
    }
}
.section1 .searchbar {
    padding:4px;
    margin:0 0 2rem;
    max-width:600px;
    width:90vw;
    min-height: 4rem;
    border:2px solid #f6a3b9;
    background:rgba(0, 0, 0, 0.397);
    font-size: 1.2rem;
    color:white;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.section1 .searchbar .location {
    flex:1.2 0 100px ;
    display:flex;
    font-size: 1.2rem;
    justify-content: space-evenly;
    cursor: pointer;
}
.section1 .searchbar .location span{
    font-size:0.8rem;
    transform:translatey(5px);
}
.section1 .searchbar .search {
    flex:2.4 1;
    max-width:65%;
    padding:1.4rem 0;
    border:none;
    border-left: 2px solid #f6a3b9;
    background:transparent;
    height:30px;
    color:white;
    text-indent: 1rem;
    font-size: 1.2rem;
    text-align: left;
}
.section1 .searchbar .search::placeholder {
    color:white;
    font-family: 'Noto Sans TC', sans-serif;
    
}
.section1 .searchbar .btn-go {
    flex:1.2 1 108px;
    padding:1rem 0;
    background:rgb(169,79,98);
    display:flex;
    justify-content: center;
    transition: .5s;
}
.section1 .searchbar .btn-go:hover {
    background:rgb(163, 53, 77);
    cursor: pointer;
}
.section1 .searchbar .btn-go img {
    margin-right: 0.2rem;
}
@media screen and (max-width:768px){
    .section1 .location {
        max-width:30vw;
        font-size:12px;
    }
    .section1 .searchbar {
        max-width:90%;
    }
}
@media screen and (max-width:568px){
    .section1 .location img {
        display:none;
    }
}
.section1 .sloganwrap {
    background:rgba(0, 0, 0, 0.7);
}
@media screen and (max-width:768px){
    .section1 {
        background:url('./images/avatar/long-hair.jpg')
        top center no-repeat;
        background-size: autos;
    }
    .section1 .sloganwrap {
        background:rgb(0, 0, 0);
    }
}
.section1 .sloganwrap .container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content:center;
}
.section1 .slogan {
    flex:1 0 0px;
    height:270px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin:10px;
}
.section1 .slogan img{
    height:170px;
}
.section1 .slogan h4{
    margin-top: 0;
    color:white;
    font-weight: normal;
    font-size: 1.3rem;
    white-space:nowrap;
}
@media screen and (max-width:768px){
    .section1 .slogan {
        height:220px;
        flex:1 0 0;
        min-width:50vw;
    }
    .section1 .slogan img{
        height:130px;
    }
    .section1 .slogan h4{
        margin-top: 0;
        color:white;
        font-weight: normal;
        font-size: 1.2rem;
        white-space:nowrap;
    }
}
/*section2 start*/
.section2 {
}
.section2 .panelwrap {
    margin:0 1rem;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:auto;
}
.section2 .panel {
    position:relative;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    flex:1 0 200px;
}
.section2 .panel-avatar {
    margin: 0 auto;
    background:white;
    width:200px;
    height: 300px;
    overflow: hidden;
}
.section2 .panel-avatar img {
    height:100%;
}
.section2 .panel-title {
    position:absolute;
    bottom:10%;
    right:calc( 30% - 80px);
    border:3px solid rgb(169,79,98);
    color:rgb(169,79,98);
    background:rgba(255, 255, 255, 0.603);
    width:7rem;
    height: 2rem;
    display:flex;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
}
@media screen and (max-width:992px){
    .section2 .panel {
        flex:1 0 50%;
    }
}
@media screen and (max-width:768px){
    .section2 .panel {
        flex:1 0 100%;
    }
}
/*section3 start*/
.section3 .articlewrap {
    margin:0 1rem;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:auto;
}
.section3 .article {
    margin: 0 auto;
    margin-bottom: 1.5rem;
    flex:1 0 300px;
}
.section3 .article-avatar {
    position:relative;
    margin: 0 auto;
    background:white;
    width:300px;
    height: 200px;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}
.section3 .article-title {
    position:absolute;
    text-shadow: 2px 2px 4px black;
}
.section3 .article-avatar img {
    width:100%;
}
@media screen and (max-width:992px){
    .section3 .article {
        margin: 0 auto;
        margin-bottom: 1.5rem;
        flex:1 0 100%;
    }
}
/*footer start*/
footer {
    background:#999
}
