html,body {
    width: 100%;
    height: 100%;
}
.carousel img {
    width: 100%;
    height: 100%;
}
.s2 {
    background: #fafafa;
}
.s2 .d-flex {
    width: 100px;
    height: 100px;
    background:#ffcdcd;
}
.d-flex img {
    width: 50%;
    height: 50%;
}
.sb {
    height:30%;
    background: rgb(83, 157, 241);
}
.bottom-line::after {
    position:absolute;
    content:"";
    height:1px;
    width: 100%;
    background-color: #ffcdcd;
    left:0;
}
.section-counter {
    color:white;
}
strong.d-block {
    font-size: 40px;
    font-weight: 700;
}
.counter-bg {
    background: rgba(0,0,0,0.7);
}
section.project {
    padding:6em 0;
}
section .text {
    color:white;
    position: absolute;
    top: 0;
    left: 0;
    padding:2em;
    text-transform: uppercase;
}
.blog-entry .bg {
    display:block;
    height: 275px;
    background-size:cover;
}
.meta {
    display: block;
    width: 260px;
    font-size: 12px ;
}
.meta>div a{
    color: #aaa ;
}
.blog-entry .heading a {
    color: #000 ;
    font-size: 20px ;
    line-height: 1.5em ;

}
footer {
    background: #000;
    color: #fff ;
}